In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

from collections import Counter

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_excel("results_train.xlsx")
#MACDcompare是直接在excel用if函數拉的 =if(MACD>MACDsignal,0,0)

In [6]:
data.head()

,id,label,roe_change,tagrt_change,eps_change,volume,10EMA,20EMA,MACDcompare,WILLR,RSI,MACD,MACDsignal
0,SHSE.600085_201501,0,-0.2185,2.6545,0.140,25457468,21.415501,21.266508,0,-29.545514,61.764303,0.300741,0.423164
1,SHSE.600085_201502,1,-0.2185,2.6545,0.140,7880595,23.304559,23.191395,0,-91.379283,46.331140,0.306613,0.520313
2,SHSE.600085_201503,1,-0.2185,2.6545,0.140,9263796,22.329383,22.430250,1,-11.805498,50.955797,-0.112559,-0.136775
3,SHSE.600085_201504,1,1.1578,-6.7296,-0.399,16125626,25.329435,24.448073,1,-16.913338,69.989214,0.969363,0.653387
4,SHSE.600085_201505,1,1.1578,-6.7296,-0.399,13959795,32.561473,31.167097,0,-30.795258,65.947116,1.955272,2.076591

In [7]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 2:11]], axis=1)

In [8]:
data2.head()

,label,roe_change,tagrt_change,eps_change,volume,10EMA,20EMA,MACDcompare,WILLR,RSI
0,0,-0.2185,2.6545,0.140,25457468,21.415501,21.266508,0,-29.545514,61.764303
1,1,-0.2185,2.6545,0.140,7880595,23.304559,23.191395,0,-91.379283,46.331140
2,1,-0.2185,2.6545,0.140,9263796,22.329383,22.430250,1,-11.805498,50.955797
3,1,1.1578,-6.7296,-0.399,16125626,25.329435,24.448073,1,-16.913338,69.989214
4,1,1.1578,-6.7296,-0.399,13959795,32.561473,31.167097,0,-30.795258,65.947116

In [9]:
data2.isnull().any()

label           False
roe_change      False
tagrt_change    False
eps_change      False
volume          False
10EMA           False
20EMA           False
MACDcompare     False
WILLR           False
RSI             False
dtype: bool

In [10]:
X = data2.iloc[:, 1:]

In [11]:
X

,roe_change,tagrt_change,eps_change,volume,10EMA,20EMA,MACDcompare,WILLR,RSI
0,-0.2185,2.6545,0.140,25457468,21.415501,21.266508,0,-29.545514,61.764303
1,-0.2185,2.6545,0.140,7880595,23.304559,23.191395,0,-91.379283,46.331140
2,-0.2185,2.6545,0.140,9263796,22.329383,22.430250,1,-11.805498,50.955797
3,1.1578,-6.7296,-0.399,16125626,25.329435,24.448073,1,-16.913338,69.989214
4,1.1578,-6.7296,-0.399,13959795,32.561473,31.167097,0,-30.795258,65.947116
...,...,...,...,...,...,...,...,...,...
31942,1.4170,-3.6956,0.343,1946872,59.302115,59.125642,0,-86.229507,47.753460
31943,1.4170,-3.6956,0.343,1134329,55.914559,56.061645,1,-46.909485,46.175278
31944,-1.3913,2.7484,0.230,1673389,54.219699,53.717813,1,-2.683775,61.820766
31945,-1.3913,2.7484,0.230,1612827,47.500525,49.361824,0,-76.333338,38.386574
31946,-1.3913,2.7484,0.230,893417,49.866772,50.386381,0,-95.753405,39.348613

In [12]:
X.isnull().any()

roe_change      False
tagrt_change    False
eps_change      False
volume          False
10EMA           False
20EMA           False
MACDcompare     False
WILLR           False
RSI             False
dtype: bool

In [13]:
y = data2["label"]

In [14]:
y

0        0
1        1
2        1
3        1
4        1
        ..
31942    1
31943    0
31944    0
31945    0
31946    0
Name: label, Length: 31947, dtype: int64

In [15]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
testdata = pd.read_excel("results_test.xlsx")

In [17]:
testdata.head()

,id,roe_change,tagrt_change,eps_change,volume,10EMA,20EMA,MACDcompare,WILLR,RSI,MACD,MACDsignal
0,SHSE.600085_201901,-0.1889,-0.8638,0.207,3575585,27.659170,28.196268,0,-66.591435,40.796678,-0.624064,-0.489874
1,SHSE.600085_201902,-0.1889,-0.8638,0.207,1916529,26.682549,26.874887,1,-71.428680,40.945731,-0.324989,-0.390000
2,SHSE.600085_201903,-0.1889,-0.8638,0.207,11102934,28.731438,28.261812,1,-37.757438,60.789262,0.504432,0.358881
3,SHSE.600085_201904,1.9871,0.5055,-0.572,10273667,29.847984,29.809116,0,-63.865537,52.700566,0.194734,0.390052
4,SHSE.600085_201905,1.9871,0.5055,-0.572,7691447,31.707315,31.592578,0,-81.233282,47.196492,0.314845,0.557793

In [18]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id              False
roe_change      False
tagrt_change    False
eps_change      False
volume          False
10EMA           False
20EMA           False
MACDcompare     False
WILLR           False
RSI             False
MACD            False
MACDsignal      False
dtype: bool

In [19]:
testdata.iloc[:, 1:10]

,roe_change,tagrt_change,eps_change,volume,10EMA,20EMA,MACDcompare,WILLR,RSI
0,-0.1889,-0.8638,0.207,3575585,27.659170,28.196268,0,-66.591435,40.796678
1,-0.1889,-0.8638,0.207,1916529,26.682549,26.874887,1,-71.428680,40.945731
2,-0.1889,-0.8638,0.207,11102934,28.731438,28.261812,1,-37.757438,60.789262
3,1.9871,0.5055,-0.572,10273667,29.847984,29.809116,0,-63.865537,52.700566
4,1.9871,0.5055,-0.572,7691447,31.707315,31.592578,0,-81.233282,47.196492
...,...,...,...,...,...,...,...,...,...
11358,-1.5811,-10.2857,0.291,3707765,85.995677,84.644223,0,-77.074262,50.174304
11359,-1.5811,-10.2857,0.291,2685968,79.742431,81.983880,0,-90.690103,34.462281
11360,-1.5811,-10.2857,0.291,3061566,72.045945,73.762607,1,-56.410254,41.540826
11361,-1.5811,-10.2857,0.291,2488719,80.462473,78.046339,1,-24.642849,64.605778
11362,-1.5811,-10.2857,0.291,2793697,82.641656,82.682425,0,-76.509451,48.329598

In [20]:
result = clf.predict(testdata.iloc[:, 1:10])

In [21]:
pd.DataFrame(result).to_excel("predi.xlsx", index=False)