In [2]:
import pandas as pd
import datetime

In [3]:
file2_name = "daily_trading_info_2019-2020.xlsx"
file2 = pd.read_excel(file2_name, sheet_name = None)
company_index = []
company_index = list(file2.keys())[:]

In [4]:
print(len(company_index))

800

In [5]:
from talib import abstract

In [5]:
pd.read_excel(company_index[0]+".xlsx")

,date,open,high,low,close,volume,EMA10,EMA20
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,NaN,NaN
...,...,...,...,...,...,...,...,...
1517,2020-03-25,24.600000,24.850000,24.500000,24.799999,7072723,24.918841,25.557628
1518,2020-03-26,24.620001,25.290001,24.580000,25.129999,8346083,24.957233,25.516901
1519,2020-03-27,25.320000,25.799999,25.150000,25.180000,8794212,24.997737,25.484816
1520,2020-03-30,25.150000,25.570000,24.950001,25.450001,8179292,25.079966,25.481500
1521,2020-03-31,25.500000,25.540001,25.150000,25.350000,5331630,25.129063,25.468976

In [7]:
df = pd.read_excel(company_index[0]+".xlsx")

In [17]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [8]:
inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
}

macd = abstract.MACD(df)
willr = abstract.WILLR(df)
rsi = abstract.RSI(df)

In [68]:
#print(macd)
#print(type(macd))
#print(willr)
#print(rsi)

In [65]:
#pd.DataFrame(macd["macd"], columns=["macd"]).head(50)

In [66]:
#pd.DataFrame(macd["macdsignal"], columns=["macdsignal"]).head(50)

In [9]:
pd.concat([df, pd.DataFrame(macd["macd"], columns=["macd"])\
          , pd.DataFrame(macd["macdsignal"], columns=["macdsignal"])\
           , pd.DataFrame(willr, columns=["willr"])\
           , pd.DataFrame(rsi, columns=["rsi"])], axis=1).head(40)
#這邊隔天不小心又跑一次，所以concat了2次

,date,open,high,low,close,volume,EMA10,EMA20,macd,macdsignal,willr,rsi,macd,macdsignal,willr,rsi
0,2014-01-02,21.309999,21.700001,21.230000,21.459999,5096443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-03,21.400000,21.450001,20.370001,20.790001,9945683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-06,20.680000,20.680000,20.219999,20.240000,5171376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-07,20.100000,20.250000,19.860001,20.000000,5364241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-08,20.000000,20.389999,20.000000,20.230000,5186841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-09,20.200001,20.290001,19.969999,20.020000,3824827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-10,19.900000,20.010000,18.959999,19.240000,9143400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-01-13,19.299999,19.299999,19.010000,19.219999,4283805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-14,19.219999,19.559999,19.120001,19.490000,3426150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-01-15,19.490000,20.000000,19.490000,19.830000,4878185,20.052000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-01-16,19.840000,20.100000,19.760000,19.910000,2931624,20.026182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2014-01-17,20.010000,20.010000,19.600000,19.730000,2813683,19.972330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014-01-20,19.600000,19.709999,19.250000,19.430000,4621019,19.873725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2014-01-21,19.490000,20.070000,19.430000,19.980000,2911691,19.893048,NaN,NaN,NaN,-62.773729,NaN,NaN,NaN,-62.773729,NaN
14,2014-01-22,19.980000,20.110001,19.750000,20.100000,4602530,19.930675,NaN,NaN,NaN,-54.216846,35.022037,NaN,NaN,-54.216846,35.022037
15,2014-01-23,20.100000,20.150000,19.879999,19.920000,3955330,19.928734,NaN,NaN,NaN,-44.186028,33.587918,NaN,NaN,-44.186028,33.587918
16,2014-01-24,19.950001,20.070000,19.410000,19.540001,8548517,19.858056,NaN,NaN,NaN,-59.440440,30.727285,NaN,NaN,-59.440440,30.727285
17,2014-01-27,19.469999,19.469999,19.030001,19.070000,7097953,19.714773,NaN,NaN,NaN,-92.307651,27.596624,NaN,NaN,-92.307651,27.596624
18,2014-01-28,19.059999,19.450001,19.030001,19.129999,5427807,19.608450,NaN,NaN,NaN,-87.218057,28.596769,NaN,NaN,-87.218057,28.596769
19,2014-01-29,19.180000,19.270000,18.879999,18.980000,6456224,19.494186,19.815500,NaN,NaN,-92.125957,27.571377,NaN,NaN,-92.125957,27.571377
20,2014-01-30,19.000000,19.040001,18.379999,18.580000,6490546,19.327971,19.697833,NaN,NaN,-88.700525,24.997308,NaN,NaN,-88.700525,24.997308
21,2014-02-07,18.549999,18.980000,18.520000,18.700001,8121576,19.213794,19.602802,NaN,NaN,-81.920818,27.193358,NaN,NaN,-81.920818,27.193358
22,2014-02-10,18.770000,19.280001,18.730000,19.100000,12382450,19.193105,19.554916,NaN,NaN,-59.321975,34.117924,NaN,NaN,-59.321975,34.117924
23,2014-02-11,19.170000,20.150000,19.100000,19.889999,17814676,19.319813,19.586828,NaN,NaN,-14.689275,45.202816,NaN,NaN,-14.689275,45.202816
24,2014-02-12,19.920000,20.030001,19.680000,19.910000,6691717,19.427119,19.617607,NaN,NaN,-13.559306,45.453042,NaN,NaN,-13.559306,45.453042
25,2014-02-13,19.889999,19.889999,19.500000,19.610001,6408027,19.460371,19.616882,NaN,NaN,-30.508411,42.330604,NaN,NaN,-30.508411,42.330604
26,2014-02-14,19.540001,19.820000,19.540001,19.690001,5257374,19.502121,19.623846,NaN,NaN,-25.988642,43.446300,NaN,NaN,-25.988642,43.446300
27,2014-02-17,19.820000,19.889999,19.580000,19.719999,6782577,19.541736,19.633003,NaN,NaN,-24.293796,43.884710,NaN,NaN,-24.293796,43.884710
28,2014-02-18,19.730000,19.730000,19.180000,19.240000,12105300,19.486875,19.595574,NaN,NaN,-51.412407,38.713377,NaN,NaN,-51.412407,38.713377
29,2014-02-19,19.230000,19.290001,18.969999,19.129999,10187290,19.421988,19.551234,NaN,NaN,-57.627130,37.619322,NaN,NaN,-57.627130,37.619322
30,2014-02-20,19.250000,19.780001,19.209999,19.350000,12876519,19.408899,19.532069,NaN,NaN,-45.197685,41.198484,NaN,NaN,-45.197685,41.198484
31,2014-02-21,19.330000,19.459999,19.000000,19.100000,8159687,19.352736,19.490919,NaN,NaN,-59.321975,38.495515,NaN,NaN,-59.321975,38.495515
32,2014-02-24,19.000000,19.010000,18.580000,18.930000,7533995,19.275875,19.437499,NaN,NaN,-68.926497,36.730764,NaN,NaN,-68.926497,36.730764
33,2014-02-25,18.930000,19.200001,18.160000,18.490000,11637149,19.132989,19.347261,-0.287919,-0.251029,-83.417087,32.569092,-0.287919,-0.251029,-83.417087,32.569092
34,2014-02-26,18.400000,18.700001,18.190001,18.610001,5818194,19.037900,19.277045,-0.310080,-0.262840,-77.386894,34.740771,-0.310080,-0.262840,-77.386894,34.740771
35,2014-02-27,18.610001,18.629999,18.010000,18.290001,7333119,18.901918,19.183041,-0.349435,-0.280159,-86.915852,31.799675,-0.349435,-0.280159,-86.915852,31.799675
36,2014-02-28,18.200001,18.500000,17.680000,18.430000,7325072,18.816115,19.111323,-0.365119,-0.297151,-69.635619,34.415636,-0.365119,-0.297151,-69.635619,34.415636
37,2014-03-03,18.330000,18.719999,18.049999,18.480000,7406000,18.755003,19.051197,-0.369258,-0.311572,-65.957485,35.369106,-0.369258,-0.311572,-65.957485,35.369106
38,2014-03-04,18.480000,18.480000,18.200001,18.280001,4610558,18.668639,18.977750,-0.384247,-0.326107,-72.850650,33.284619,-0.384247,-0.326107,-72.850650,33.284619
39,2014-03-05,18.350000,18.389999,17.959999,18.170000,5729945,18.577977,18.900821,-0.400386,-0.340963,-77.828055,32.161906,-0.400386,-0.340963,-77.828055,32.161906

calculating

In [69]:
for w in range(0, len(company_index)):
    df = pd.read_excel(company_index[w]+".xlsx")
    inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
    }
    macd = abstract.MACD(df)
    willr = abstract.WILLR(df)
    rsi = abstract.RSI(df)
    macd0 = pd.DataFrame(macd["macd"], columns=["macd"])
    macdsignal = pd.DataFrame(macd["macdsignal"], columns=["macdsignal"])
    willr0 = pd.DataFrame(willr, columns=["willr"])
    rsi0 = pd.DataFrame(rsi, columns=["rsi"])
    pd.concat([df, macd0, macdsignal, willr0, rsi0], axis=1).to_excel(company_index[w]+".xlsx", \
                                              sheet_name = company_index[w], index=False)
    if(w%100==0):
        print(w)

0
100
200
300
400
500
600
700

In [70]:
train_set = pd.read_excel("strategy_results_train.xlsx")

In [71]:
import copy

In [72]:
dataset = copy.deepcopy(train_set)

In [73]:
temp = []
for i in range(0, dataset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = dataset.iloc[i][0].split("_")[0]
    trade_date    = dataset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    temp.append(list(df.iloc[lower_index, :]))

0 2020-06-23 23:32:05.264088
1000 2020-06-23 23:35:34.442872
2000 2020-06-23 23:38:54.866504
3000 2020-06-23 23:42:16.828597
4000 2020-06-23 23:45:39.989203
5000 2020-06-23 23:48:54.203525
6000 2020-06-23 23:52:21.309155
7000 2020-06-23 23:55:34.384541
8000 2020-06-23 23:58:54.872180
9000 2020-06-24 00:02:17.086639
10000 2020-06-24 00:05:28.131325
11000 2020-06-24 00:08:35.064738
12000 2020-06-24 00:11:58.355171
13000 2020-06-24 00:15:18.364385
14000 2020-06-24 00:18:38.497358
15000 2020-06-24 00:21:56.554397
16000 2020-06-24 00:25:13.138425
17000 2020-06-24 00:28:28.402063
18000 2020-06-24 00:31:39.479575
19000 2020-06-24 00:34:57.908211
20000 2020-06-24 00:38:05.625080
21000 2020-06-24 00:41:16.679961
22000 2020-06-24 00:44:24.368816
23000 2020-06-24 00:47:38.082759
24000 2020-06-24 00:50:53.403841
25000 2020-06-24 00:54:00.278099
26000 2020-06-24 00:57:10.429286
27000 2020-06-24 01:00:07.464070
28000 2020-06-24 01:03:20.062639
29000 2020-06-24 01:06:50.819391
30000 2020-06-24 01:10:10.456261
31000 2020-06-24 01:13:03.140793

In [74]:
temp[1]

[Timestamp('2015-01-30 00:00:00'),
 22.98999977111816,
 23.19000053405762,
 22.51000022888184,
 22.57999992370605,
 7880595,
 23.30455891880362,
 23.19139520267426,
 0.3066126570766059,
 0.5203131427498946,
 -91.3792834129022,
 46.33114029578259]

In [75]:
pd.DataFrame(temp).to_excel("train_out_new.xlsx", index=False)